* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-size: 15px 15px;
  background-image: linear-gradient(to right, #8ecae6 1px, transparent 1px),
    linear-gradient(to bottom, #8ecae6 1px, transparent 1px);
}
