.taunts {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
}
.taunts > h1 {
  color: #2cbfe2;
  font-family: "Grandstander";
  font-size: 2.5rem;
}
.tauntgame > h2 {
  color: #2cbfe2;
  font-family: "Grandstander";
  font-size: 2rem;
}
.endmessagewin {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  align-items: center;
  color: #2cbfe2;
  font-family: "Grandstander";
  font-size: 1.5rem;
}
