.hp-img-container {
  background-color: #2cbfe2;
  border-radius: 1rem;
  font-family: "Grandstander";
  color: white;
  display: flex;
  padding: 1rem;
  height: 16vh;
  width: 70vw;
}

.hp-img-container img {
  /* width: 15vw; */
  border-radius: 5vh;
  height: 10vh;
  width: 10vh;
  align-self: center;
}

.hp-img-container figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0.5rem;
}

.hp-img-container h2 {
  text-align: center;
  font-size: medium;
}

.hp-img-container p {
  text-align: center;
  font-size: small;
}
/* RESPONSIVE */
@media screen and (min-width: 768px) {
  .hp-img-container {
    width: 40vw;
    height: 35vh;
  }
  .hp-img-container img {
    border-radius: 12.5vh;
    height: 25vh;
    width: 25vh;
    align-self: center;
  }
  .hp-img-container figcaption {
    display: flex;
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
  }

  .hp-img-container h2 {
    font-size: 2.75rem;
  }

  .hp-img-container p {
    font-size: 1.75rem;
  }
}
