.hp-cards > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  gap: 2rem;
  list-style: none;
}

.hp-cards > ul > li > a {
  text-decoration: none;
}
/* RESPONSIVE */
@media screen and (min-width: 768px) {
  .hp-cards > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 3rem;
  }
}
