/* ANIMATION CSS */

.pied-potence {
  height: 1vw;
  width: 15vw;
  background-color: black;
}

.hauteur-potence {
  height: 20vw;
  width: 1vw;
  background-color: black;
  margin-left: 8vw;
}

.largeur-potence {
  height: 1vw;
  width: 15vw;
  background-color: black;
  margin-left: 8vw;
}

.corde {
  height: 5vw;
  width: 0.625vw;
  background-color: black;
  margin-left: 23vw;
  position: absolute;
}

.pieceofCheese {
  width: 16.25vw;
  height: 15vw;
  border: 1.25vw solid #ffd700;
  border-radius: 50%;
  margin-left: 15vw;
  position: relative;
  top: 20vw;
  background-color: #ffd700;
}

/* PAGE DE JEU */

h1 {
  text-align: center;
  color: #2cbfe2;
  font-family: "Grandstander";
  font-size: 2.5rem;
  margin-top: 1rem;
}

.fromageStyle {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
}

@media (max-width: 600px) {
  .fromageStyle {
    padding: 0 10px;
  }
}
