.legend {
  display: inline-block;
  border: solid #ffb703;
  border-radius: 5px;
}

.legend > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Grandstander";
  color: black;
  width: 120px;
  height: 30px;
}

.good-place {
  background-color: #2cbfe2;
}

.wrong-place {
  background-color: #ffb703;
}

.not-included {
  background-color: white;
}
