.motif-gameover {
  font-family: "Grandstander";
  font-size: 1.19em;
  text-align: center;
  animation-name: example;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    color: #219ebc;
    text-shadow: 0 0 10px white;
  }

  25% {
    color: #219ebc;
    text-shadow: 2px 2px 2px white;
    transform: translate(-2px, 1px);
  }

  40% {
    color: #219ebc;
    text-shadow: none;
    transform: translate(0, 0);
  }

  50% {
    color: #219ebc;
    text-shadow: white -3px -3px 2px;
    transform: translate(0px, 3px);
  }

  70% {
    color: #219ebc;
    text-shadow: none;
    transform: translate(0, 0);
  }

  80% {
    color: #219ebc;
    text-shadow: 0 0 10px white;
    transform: translate(-2px, 1px);
  }

  100% {
    color: #219ebc;
    text-shadow: none;
  }
}
