.motif-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 1rem;
  gap: 0.625rem;
}

.motif-game > header {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.motif-game > header > img {
  border-radius: 7.5vh;
  width: 15vw;
  width: 15vh;
  height: 15vh;
}

.motif-game > header > h3 {
  color: #2cbfe2;
  font-family: "Grandstander";
  font-size: 2.5rem;
}

.grille-jeux {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
  padding: 0.625px;
}

.grille-jeux > div {
  border: solid;
  border-color: #ffb703;
  padding: 0.3rem;
  background-color: white;
  width: 2rem;
  height: 2rem;
  font-family: "Grandstander";
}

.text-attempt {
  color: #2cbfe2;
  font-family: "Grandstander";
  font-size: 1.5rem;
}

.motif-game-over {
  display: none;
}
